* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.from-main {
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.from-body {
    width: 40vw;
    border: 2px solid rgb(245, 240, 240);

    border-radius: 5px;

    
}

.form-header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    width: 100%;
    height: 20vh;
    background-image: url("https://media.istockphoto.com/id/1439643582/photo/new-york-city-skyline-and-statue-of-liberty-at-dusk.webp?b=1&s=170667a&w=0&k=20&c=J3sQy3x92bNm5be8DGQjJ2fhj9_EWSGm_v0NW7fNcvk=");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.header-btn {
    width: 5vw;
    height: 6vh;
  
}

.right {
    color: whitesmoke;
    margin-top: 2rem;
}

.inpute {
    width: 37vw;
    height: 6vh;
    padding: 0.5rem;
    
}
.inpute-hover :hover{
   border: 2px solid green; 
}
.inpute-section{
    padding: 1rem;
    width: 100%;
    height: 60vh;
    /* border: 2px solid red; */
    overflow-y: scroll;
     scroll-behavior: smooth;

}
.inpute-type{
margin: 0.2rem;
margin-bottom: 0.50rem;

}
.footer{
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(224, 235, 231);
}

.footer-btn{
    width: 5vw;
    height: 6vh;
    margin: 1rem;
    
}


@media only screen and (max-width: 1024px) {
    
    .from-body {
        width: 100vw;
        
    }
    .right {
        color: whitesmoke;
        margin: 0;
    }
    
    .inpute {
        width: 95vw;
        height: 8vh;
        padding: 0.5rem;
        
    }
    .inpute-section{
    
       
         overflow-y:scroll;
         scroll-behavior: smooth;
    
    }
    .header-btn {
        width: 8vw;
        height: 6vh;
    }
  
    .footer-btn{
        width: 10vw;
        height: 6vh;
        margin: 1rem;
        
    }
}

@media only screen and (max-width: 768px) {
    
    .from-body {
        width: 100vw;
        
    }
    .right {
        color: whitesmoke;
        margin: 0;
    }
    
    .inpute {
        width: 95vw;
        height: 8vh;
        padding: 0.5rem;
        
    }
    .header-btn {
        width: 10vw;
        height: 6vh;
      
    }
    
    
    .footer-btn{
        width: 15vw;
        height: 6vh;
        margin: 1rem;
        
    }
}

@media only screen and (max-width: 425px) {
    
    .from-body {
        width: 100vw;
        
    }
    .right {
        color: whitesmoke;
        margin: 0;
    }
    
    .inpute {
        width: 88vw;
        height: 8vh;
        padding: 0.5rem;
        
    }
   
    
    .footer-btn{
        width: 20vw;
        height: 6vh;
        margin: 1rem;
        
    }
}

@media only screen and (max-width: 375px) {
    
    .from-body {
        width: 100vw;
        
    }
    .right {
        color: whitesmoke;
        margin: 0;
    }
    
    .inpute {
        width: 88vw;
        height: 8vh;
        padding: 0.5rem;
        
    }
    /* .footer{
        width: 100%;
        height: 12vh;
        display: flex;
        justify-content: flex-end;
        background-color: rgb(224, 235, 231);
    } */
    
    .footer-btn{
        width: 20vw;
        height: 6vh;
        margin: 1rem;
        
    }
}
@media only screen and (max-width: 320px) {
    
.from-body {
    width: 100vw;
    
}
.right {
    color: whitesmoke;
    margin: 0;
}

.inpute {
    width: 88vw;
    height: 8vh;
    padding: 0.5rem;
    
}



.footer-btn{
    width: 20vw;
    height: 6vh;
    margin: 1rem;
    
}
   
    
  }